html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
*{
  font-family: 'Rubik', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  letter-spacing: 0.6px;
}
p, span, button{
  letter-spacing: 0.2px;
}
a {
  color: inherit;
  text-decoration: none;
}

.buttonUnderline{
  color: grey;
  border-bottom: 3px solid rgb(172, 170, 170);
  border-radius: 0px !important;
  padding-bottom: 20px;
}
.buttonUnderline:hover{
  border-bottom: 3px solid rgba(218, 52, 52, 0.603);
  background-color: transparent !important;
}
.buttonUnderline.active{
  border-bottom: 3px solid rgb(218, 52, 52);
  background-color: transparent !important;
}



.flexResponsive{
  display: flex;
}
@media screen and (min-width : 0px) and (max-width : 908px){
  .flexResponsive{
    display: block !important;
  }
  .widthCompleteResponsive{
    width: 100% !important;
  }
  
}